<div class="container">
  <section class="forecast-section">
    <h2 style="text-align: center">{{ title }}</h2>
    <div class="form-container">
      <form [formGroup]="weatherForm" class="form">
        <div>
          <label class="mr-10">City</label>
          <input type="text" placeholder="City" formControlName="city" />
        </div>
        <div>
          <label class="mr-10">Postal code</label>
          <input
            type="text"
            placeholder="Postal code"
            formControlName="zipcode"
          />
        </div>
        <button class="button-3" type="Submit" (click)="onSubmit(weatherForm)">
          Show Weather Info
        </button>
        <button type="Submit" (click)="onSubmit(weatherForm, 'days')">
          Next 10 days
        </button>
      </form>
    </div>
  </section>
</div>
<div *ngIf="showErrMsg">
  <h1>{{ errMsg }}</h1>
</div>

<div *ngIf="showCurrWeather">
  <!-- <app-current-weather [weatherInfo]="weatherData" [tempUnit]="currTempMode" [windUnit]="currWindMode"></app-current-weather> -->
  <app-current-weather [presentWeatherInfo]="presentWeatherData" [tempUnit]="currTempMode" [windUnit]="currWindMode"></app-current-weather>

</div>
<div *ngIf="showForecastWeather">
  <!-- <app-forecast-weather [weatherForecast]="weatherData" [tempUnit]="currTempMode"></app-forecast-weather> -->
  <app-forecast-weather [weatherForecast]="futureWeatherData" [tempUnit]="currTempMode"></app-forecast-weather>
  
</div>
