<!-- Start of 10 day Weather Forecast code -->
<div *ngIf="forecastWeather.length > 1">
  <h2>10 Day Forecast</h2>
  <div class="current-weather-container forecast-card-layout">
    <div
      class="forecast-card-container"
      *ngFor="let forecastResult of forecastWeather"
    >
      <div>
        <p>{{ forecastResult.day }} {{ forecastResult.date | date: "dd" }}</p>
      </div>
      <div>
        <img width="40px" height="40px" src="{{ forecastResult.imagePath }}" />

        <p>
          <ng-container *ngIf="tempUnit === 'celcius'">
            <p>{{ forecastResult.minTempCelcius }}°</p>
            <p>{{ forecastResult.maxTempCelcius }}°</p>
          </ng-container>
          <ng-container *ngIf="tempUnit === 'farenheit'">
            <p>{{ forecastResult.minTempFarenheit }}°</p>
            <p>{{ forecastResult.maxTempFarenheit }}°</p>
          </ng-container>
        </p>
      </div>
    </div>
  </div>
</div>
<!-- End of 10 day Weather Forecast code -->
